@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600&display=swap');
html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    vertical-align: middle;
    background-color: rgb(78, 77, 77);
}

body {
    margin: unset;
    background-color: var(--dark-grey);
    font-family: 'Poppins', sans-serif;
}

#border { 
    border-radius: 25px;
}
#web_title { 
    font-weight: 700;
}