<head> 
  <style> 
    #navbar { 
        background-color:#8999f5 !important;
        color: #88615d !important;
        font-weight:200
    }
    #collapsibleNavbar { 
        margin-left: 1050px
    }
    #navbar { 
        padding-right: 50px; 
        font-size: 18px;
        font-weight: 600;
    }
  
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body> 
    <nav class="navbar navbar-expand-sm " id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">CX's Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/viewPost">View all post</a>
            </li> 
            <li class="navbar-nav">
                <a class="nav-link" href="/addPost">Add new post</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
  